.background{
    background-color: #E9ECEF;
    width: 100%;
    height: 100vh;
}

.title{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    min-width: 500px;
    border-bottom: 3px solid;
}

.font{
    padding: 10px;
    font-size: 26px;
    font-weight: 700;
}

/* .table_area {
    flex: 1;
}
  
.table_feed {
    display: flex;
}

.table_item {
    flex:1;
} */

.table_title{
    margin-bottom: 30px;
    margin-top: 20px;
    font-size: 18px;
}

.table_th_title{
    padding-left: 457px;
    padding-right: 457px;
    border-bottom: 3px solid;
}

/* 수정할 부분 */
.table_td_title{
    padding-left: 7px;
    padding-right: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.wrbg {
    background-color: #e9ecef;
    width: 100%;
    height: 90vh;
}

.writer {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    min-width: 500px;
    border-bottom: 3px solid;
}
  
.wrh3 {
    padding: 10px;
    font-size: 26px;
    font-weight: 700;
}

.wrBtn {
    display: flex;
    justify-content: flex-end;
}
  
.submitbtn {
    width: 100px;
    height: 50px;
    margin-top: 30px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    border: none;
    margin-left: 600px;
}

.submitbtn:hover {
    outline: 4px solid #579aff85;
}

.input_area{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_content {
    height: 400px;
    width: 700px;
    margin-top: 80px;
    padding: 10px;
    border-radius: 10px;
    background-color: #e9ecef94;
    border: none;
    outline: none;
}

.Box{
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%);
    width: 50%;
    height: 70%;
    min-width: 500px;
    background-color: #fff;
    border-radius: 10px;
}
