input[type="checkbox"]:checked {
  background: #8b8b8b;
  border: none;
}

.google {
  margin-right: 10px;
}

.kakaotalk {
  margin-left: 10px;
}

.selected {
  --bs-btn-bg: #000;
  --bs-btn-color: #fff;
}