.wrbg{
  background-color: #E9ECEF;
  width: 100%;
  height: 100vh;
}

.writer{
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  min-width: 500px;
  border-bottom: 3px solid;
}

.wrh3{
  padding: 10px;
  font-size: 26px;
  font-weight: 700;
}

.writingBox{
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  height: 70%;
  min-width: 500px;
  background-color: #fff;
  border-radius: 10px;
}

.writingText{
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  width: 90%;
}

.wrBtn{
  display: flex;
  justify-content: flex-end;
}

.sbtn{
  width: 100px;
  height: 50px;
  margin:10px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border: none;
}

.sbtn:hover{
  outline: 4px solid #579aff85;
}

.wrtextarea{
  height: 330px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  resize:none;
  background-color: #e9ecef94;
  border:none
}

.wrinput{
  height: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #e9ecef94;
}


.btn-group{
  margin: 10px;
  height: 50px;
}

.btn-primary {
  --bs-btn-color: #000;
  --bs-btn-bg:#e9ecef94 ;
  --bs-btn-border-color: #fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #000;
  --bs-btn-hover-border-color: #c9c9c9;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #ffffff;
  --bs-btn-active-bg: #828282;
  --bs-btn-active-border-color: #000;
  --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #000;
}

.selected{
  --bs-btn-bg: #000;
  --bs-btn-color: #fff;
}

.writinginput:focus{
  outline: 4px solid #579aff85;
}